<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" 	/>
	<link th:href="@{/static/css/lib/bootstrap.min.css}" rel="stylesheet"/>
	<script th:src="@{/static/js/lib/jquery.min.js}" type="text/javascript"></script>
	<script th:src="@{/static/js/lib/bootstrap.min.js}" type="text/javascript"></script>    
	
	<!-- Swagger Begin-->
	<link th:href="@{/static/swagger/css/reset.css}" media='screen' rel="stylesheet" type="text/css"/>
	<link th:href="@{/static/swagger/css/screen.css}" media='screen' rel="stylesheet" type="text/css"/>
	<link th:href="@{/static/swagger/css/screen.css}" media='print' rel="stylesheet" type="text/css"/>
	<script th:src="@{/static/swagger/lib/shred.bundle.js}" type="text/javascript" ></script>
	<script th:src="@{/static/swagger/lib/jquery.slideto.min.js}" type="text/javascript"></script>
	<script th:src="@{/static/swagger/lib/jquery.wiggle.min.js}" type="text/javascript"></script>
	<script th:src="@{/static/swagger/lib/jquery.ba-bbq.min.js}" type="text/javascript"></script>
	<script th:src="@{/static/swagger/lib/handlebars-1.0.0.js}" type="text/javascript"></script>
	<script th:src="@{/static/swagger/lib/underscore-min.js}" type="text/javascript"></script>
	<script th:src="@{/static/swagger/lib/backbone-min.js}" type="text/javascript"></script>
	<script th:src="@{/static/swagger/lib/swagger.js}" type="text/javascript"></script>
	<script th:src="@{/static/swagger/swagger-ui.js}" type="text/javascript"></script>
	<script th:src="@{/static/swagger/lib/highlight.7.3.pack.js}" type="text/javascript"></script>
	<!-- enabling this will enable oauth2 implicit scope support 
	<script th:src="@{/static/swagger/lib/swagger-oauth.js}" type="text/javascript"></script>
	-->
	
	<script type="text/javascript">
		// <![CDATA[		
			
			$(function () {
			 	var apiUrl = window.location.protocol + "//" + window.location.host;
			 	if (window.location.pathname.indexOf('/api') > 0) {
			 	  apiUrl += window.location.pathname.substring(0, window.location.pathname.indexOf('/api'))
			 	}
			 	  
			 	var contextPath = $("#contextPath").attr("href");
			 	apiUrl += contextPath + "api-docs";
			  	  
			    window.swaggerUi = new SwaggerUi({
			    url: apiUrl,
			    dom_id: "swagger-ui-container",
			    supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
			    onComplete: function(swaggerApi, swaggerUi){
			      log("Loaded SwaggerUI");
			      $('pre code').each(function(i, e) {
			        hljs.highlightBlock(e)
			      });
			    },
			    onFailure: function(data) {
			      log("Unable to Load SwaggerUI");
			    },
			    docExpansion: "none",
			    sorter : "alpha"
			  });
			  
			  window.swaggerUi.load();
			
			});	
		// ]]>
		
	</script>
	<!-- Swagger End-->
</head>

<body>
	<a id="contextPath" style="display: none;" th:href="@{/}">Context Path</a>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/}">API</a>
			</div>
		</div>
	</nav>
	<div class="container swagger-section">
		<div id="message-bar" class="swagger-ui-wrap">&nbsp;</div>
		<div id="swagger-ui-container" class="swagger-ui-wrap"></div>
	</div>
</body>
</html>